<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Uploaded Videos</title>
</head>
<body>
    <h1>All Uploaded Videos</h1>

    <% if (videos.length > 0) { %>
        <ul>
            <% videos.forEach(video => { %>
                <li>
                    <a href="<%= video.url %>" target="_blank">
                        <%= video.name %> - <%= video.url %>
                    </a>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No videos uploaded yet.</p>
    <% } %>

    <br>
    <a href="/">Go back to Upload</a>
</body>
</html>
